.discussion {
  /* Discussion = submit a comment + comments */
  margin: -$spacing-xxxlarge 0 0;
}
.discussion--closed {
}
.discussion__heading {
  
}
.discussion__heading--no-responses {
  
}
.discussion__heading__title {

}
.comments {
}
.comment {


  &.depth-2, 
  &.depth-3, 
  &.depth-4, 
  &.depth-5 {
    // calc($spacing-xxlarge + $spacing) = 48 + 16 = 64;
    margin: 0 0 0 64px;
    @media (max-width: $mobile-max) {
      margin: 0;
    }
  }
}
.comment__body {
  display: flex;
}
.comment__author {
  margin: 0 $spacing 0 0;
  .avatar {
    border-radius: $base-border-radius;
  }
}
.comment__meta {
  @include subtlefont();
  margin: 0 0 $spacing-small;
}
.comment__meta__data {
  
}
.comment__meta__awaiting-moderation {
  
}
.comment__content {
  flex-grow: 2;
}
.comment__text {
  margin: 0 0 $spacing-small;
}
.comment__reply {
  @include subtlefont();
  margin: 0 0 $spacing-large;
}