/* Handles both single POST and PAGE */
.entry {
  margin: 0 0 $spacing-xxlarge;
}

.entry__metas {
  display: flex;
  justify-content: space-between;
  margin: 0 0 $spacing-xxlarge;
}

.entry__meta {
  color: $subtle-text-color;
}

.entry__meta a {
  /* hate to do this, but must override <a> without classes by the_category */
  color: $subtle-text-color;
  &:hover {
    color: $hightlight-color;
  }
}

.entry__meta--summary {
  width: 65%;
}

.entry__meta__title {
  @include subtlefont();
  margin: 0 0 $spacing-xxsmall;
}

.entry__content {
  padding: 0 0 $spacing-xxlarge;
  border-bottom: $border-line;
  margin: 0 0 $spacing-xxlarge;
  & > p {
    margin: 0 0 $spacing-medium;
    font-weight: $font-weight-normal;
    font-style: normal;
    font-size: $font-size-content;
    line-height: $line-height-content;
    letter-spacing: normal;
    word-wrap: break-word;
    word-break: break-word;
    text-align: justify;
  }
}
