.feeds {
  /* anything next to footer should have $spacing-gigantic */
  margin: 0 0 $spacing-gigantic;
}
.feeds__header {
  @include subtlefont();
  margin: 0 0 $spacing-large;
}
.feed {
  margin: 0 0 $spacing-large;
}
.feed:not(:last-child) {
  border-bottom: $border-line;
}
.feed__title {
  font-family: $font-family-title;
  font-size: $font-size-title;
  line-height: $line-height-title;
  font-weight: $font-weight-normal;
  margin: 0 0 $spacing-small;
}
.feed__excerpt {
  font-family: $font-family-content;
  line-height: $line-height-content;
  margin: 0 0 $spacing-small;
}
.feed__metas {
  @include subtlefont();
  margin: 0 0 $spacing-large;
}
.feed__metas a {
  /* hate to do this, but must override <a> without classes by the_category */
  color: $subtle-text-color;
  &:hover {
    color: $hightlight-color;
  }
}
