.feeds {
  margin: 0 0 $spacing-gigantic;
}
.feeds__header {
  @include subtlefont();
  margin: 0 0 $spacing-medium;
}
.feed {
  margin: 0 0 $spacing-medium;
}
.feed:not(:last-child) {
  border-bottom: $border-line;
}
.feed__title {
  font-family: $title-font;
  font-size: $title-font-size;
  line-height: $title-line-height;
  font-weight: $font-weight-normal;
  margin: 0 0 0 0;
}
.feed__excerpt {
  margin: 0 0 $spacing-small;
}
.feed__metas {
  @include subtlefont();
  margin: 0 0 $spacing-medium;
}
.feed__metas a {
  /* hate to do this, but must override <a> without classes by the_category */
  color: $subtle-text-color;
  &:hover {
    color: $hightlight-color;
  }
}
