footer {
  box-sizing: border-box;
  width: auto;
  margin: 0 0 $spacing-gigantic;
}
.footer__nav {
  display: flex;
  justify-content: center;
}
.footer__link {
  color: $subtle-text-color;
  text-transform: uppercase;
  margin: 0 $spacing-large 0 0;
}
