header {
  display: flex;
  justify-content: space-between;
  padding: $header-margin;
  margin: $spacing-medium $header-margin-negative $spacing-xxlarge;
  border: 1px solid transparent;
  border-radius: $base-border-radius;
  background: $block-bg-color;
  &:hover {
    background: darken($block-bg-color, 3%);
    transition: all 0.5s ease;
  }
}

.single header {
  /* make the single post title have $spacing-gigantic around */
  margin: $spacing-medium $header-margin-negative $spacing-gigantic;
}

.home header {
  /* do not show the background block on homepage, because it's next to one */
  margin: $spacing-medium $header-margin-negative;
  width: $container-maxwidth + $header-margin * 2;
  background: transparent;
  &:hover {
    background: transparent;
  }
}

.header__logo {
  font-family: $font-family-logo;
  font-weight: $font-weight-bold;
}

.header__ul {
}

.header__item {
  display: inline-block;
}

.header__item__link {
  margin: 0 0 0 $spacing-medium;
  color: $subtle-text-color;
  &:hover {
    color: $hightlight-color;
  }
}
