header {
  // width: 100%;
  // margin: $spacing-xxlarge 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  padding: $header-margin;
  margin: $spacing-medium $header-margin-negative;
  width: $container-maxwidth + $header-margin * 2;
  border: 1px solid transparent;
}

.single header {
  margin: $spacing-medium $header-margin-negative $spacing-xxlarge;
  background: $block-bg-color;
  border-radius: $base-border-radius;
  &:hover {
    background: darken($block-bg-color, 3%);
    transition: all 0.5s ease;
  }
}

.header__logo {
  color: $subtle-text-color;
  font-family: $hero-font;
  // font-size: $hero-font-size;
  font-weight: $font-weight-bold;
}

.header__ul {
}

.header__item {
  display: inline-block;
}

.header__item__link {
  margin: 0 0 0 $spacing-medium;
  color: $subtle-text-color;
  &:hover {
    color: $hightlight-color;
  }
}
