.hero {
  margin: 0 0 $spacing-gigantic;
}

.hero--oops {
}

.hero--entry {
  margin: 0 0 $spacing-xxlarge;
}

.hero--home {
}

.hero__title {
  font-family: $font-family-title;
  font-size: $font-size-hero;
  line-height: $line-height-hero;
  margin: 0 0 $spacing-small;
}

.hero__content {
  font-size: $font-size-hero;
  line-height: $line-height-hero;
  margin: 0;
}
.hero__s {
  color: $subtle-text-color;

}
.hero__link {
  color: $hightlight-color;
}
