.hero {
  margin: 0 0 $spacing-gigantic;
}

.hero--home {
  border-radius: $base-border-radius;
  background-color: $block-bg-color;
  padding: $spacing-gigantic;
}

.hero__title {
  font-family: $title-font;
  font-size: $hero-font-size;
  line-height: $hero-line-height;
  margin: 0 0 $spacing-large;
}

.hero__content {
  font-size: $title-font-size;
  line-height: 1.45;
  margin: 0;
}
.hero__s {
  color: $strikethrough-text-color;

}
.hero__link {
  color: $hightlight-color;
}
