.hero {
  margin: 0 0 $spacing-gigantic;
}

.hero--home {
  border-radius: $border-radius-module;
  background-color: $block-bg-color;
  padding: $spacing-gigantic;
}

.hero__title {
  font-family: $hero-font;
  font-size: $singlehero-font-size;
  line-height: $singlehero-line-height;
  margin: 0 0 $spacing-large;
}

.hero__content {
  font-size: $title-font-size;
  line-height: 1.3;
  margin: 0;
}
.hero__s {
  color: $color-dark-gray;

}
.hero__link {
  color: $hightlight-color;
}
