.karu-card {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
}

.detail-content-mask {
  height: 100%;
  width: 100%;
  background-color: red;
  transform: translateX(100%);

  &--active {
    transform: translateX(0px) !important;
  }
}

.detail-content {
  height: 100%;
  width: 95%;
  background-color: blue;
  transform: translateX(100%);

  &--active {
    transform: translateX(0px) !important;
  }
}