/* Global DOM definitions */
html, body {
  margin: 0; 
  padding: 0;
  height: 100%; 
}
body, button, input, select, textarea {
  color: $base-text-color;
  font-size: $base-font-size; /* 14px */
  line-height: $base-line-height;
  font-weight: 300;
  font-family: Arial, "Hiragino Sans GB", "冬青黑", "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", Helvetica, Tahoma, Arial sans-serif;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
}

/* Global elements and helper functions */
.karu-theme {
  a {
    color: $brand-primary;
  }
  .container {
    /* Large desktop */
    @media (min-width: 1200px) {
    }
    /* Landscape phone to portrait tablet */
    @media (max-width: 1199px) {
      width: auto;
    }
  }
  .wrap--content__main {
  }
  .no-vertical-spacing {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
