body {
  font-size: 1.6rem; /* 16px */
}
a {
  color: $brand-primary;
}

.card {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

  @include m(fullscreen) {
    height: 100%;
    transform: translateX(100%);
  }
}

.featuredstage {
  width: 99%;
  background-color: purple;

  @include m(active) {
    transform: translateX(0px) !important;
  }

  @include e(mask) {
    width: 100%;
    background-color: darkred;
    @include m(active) {
      transform: translateX(0px) !important;
    }
  }
}