@mixin e($elements...) {
  $selector: ();
  @each $element in $elements {
    $selector: append($selector, unquote("&__" + $element), comma);
  }
  #{$selector} {
    @content;
  }
}

@mixin m($modifiers...) {
  $selector: ();
  @each $modifier in $modifiers {
    $selector: append($selector, unquote("&--" + $modifier), comma);
  }
  #{$selector} {
    @content;
  }
}

@mixin flexstretch() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  flex-direction: row;
  align-items: stretch; /* force all elements to be vertically equal! */
}