@mixin e($elements...) {
  $selector: ();
  @each $element in $elements {
    $selector: append($selector, unquote("&__" + $element), comma);
  }
  #{$selector} {
    @content;
  }
}

@mixin m($modifiers...) {
  $selector: ();
  @each $modifier in $modifiers {
    $selector: append($selector, unquote("&--" + $modifier), comma);
  }
  #{$selector} {
    @content;
  }
}

@mixin flexstretch() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  flex-direction: row;
  align-items: stretch; /* force all elements to be vertically equal! */
}

@mixin gradientmask() {
  &:after {
    overflow: hidden;
    text-indent: -9999rem;
    font-size: 0;
    line-height: 0;
    background: background: linear-gradient(45deg, rgba(203,165,77,1) 0%, rgba(247,211,67,1) 100%); /* w3c */
    content: "gradient mask for image";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}