/* Guidelines for responsive: 
http://getbootstrap.com/2.3.2/scaffolding.html
*/
/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}
 
/* Landscape phones and down */
@media (max-width: 480px) {}

// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #8B0000;

// Greys
$color-light-gray: #ECECEC;
$color-mid-gray:   #CCC;
$color-dark-gray:  #878787;
$color-light:      #999;
$color-silver:     #666;
$color-granite:    #444;
$color-chalkboard: #333;
$color-medium:     $color-silver;
$color-dark:       $color-chalkboard;
$color-darker:     #000;
$color-darkest:    #000;
$color-white:      #FFF;

$color-transparent: rgba(255,255,255,.6);

$darken-percent: 10%;

// Text Colors
$base-text-color: $color-granite;
$subtle-text-color: $color-light;
$header-text-color: $color-white;
$hero-text-color: $color-white;

// Spacing

$spacing-rem-base: 16px;
$spacing: $spacing-rem-base;
$spacing-xxsmall: ($spacing * 0.25);
$spacing-small: ($spacing * 0.5);
$spacing-smaller: ($spacing * 0.75);
$spacing-medium: ($spacing * 1.5);
$spacing-large: ($spacing * 2);
$spacing-xlarge: ($spacing * 2.20);
$spacing-xxlarge: ($spacing * 3);
$spacing-xxxlarge: ($spacing * 4);
$spacing-gigantic: ($spacing * 6);
$spacing-header-footer: 2.25rem; // Global value to match the existing header padding of 2.25em (the combined left padding of .page-header-content and .column)
$spacing-list: 0.8rem;

$column-spacing: $spacing;
$column-gutter: $column-spacing * 2;
$column-padding-tablet: ($spacing * 1.25);

$base-font-size:   100%;
$base-line-height: 150%;

@mixin body-font-family() {
  $base-font-family: "source-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
  font-family: $base-font-family;
  html:lang(ja) & {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  }
}