/* Guidelines for responsive: 
http://getbootstrap.com/2.3.2/scaffolding.html
*/

/* Mobile bottom-line */
$mobile-max: 767px;
@media (max-width: $mobile-max) {}

$desktop-min: 768px;
/* Non-mobile bottom-line */
@media (min-width: 768px) {}

/* Large desktop */
@media (min-width: 1200px) {}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {}
 
/* Landscape phones and down */
@media (max-width: 480px) {}


// Glyphicons font path
$icon-font-path:        "../fonts/";


// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Colors
$brand-primary:         #8B0000;


// Greys
$color-light-gray: #ECECEC;
$color-mid-gray:   #CCC;
$color-dark-gray:  #878787;
$color-light:      #999;
$color-silver:     #666;
$color-granite:    #444;
$color-chalkboard: #333;
$color-medium:     $color-silver;
$color-dark:       $color-chalkboard;
$color-darker:     #000;
$color-darkest:    #000;
$color-white:      #FFF;
$color-transparent: rgba(255,255,255,.6);
$darken-percent: 10%;


// Text Colors
$base-text-color: $color-granite;
$subtle-text-color: $color-light;
$header-text-color: $color-darkest;
$hero-text-color: $color-white;


// Globally applicable spacings
$spacing-rem-base: 16px;
$spacing: $spacing-rem-base;
$spacing-xxsmall: ($spacing * 0.25);
$spacing-small: ($spacing * 0.5);
$spacing-smaller: ($spacing * 0.75);
$spacing-medium: ($spacing * 1.5);
$spacing-large: ($spacing * 2);
$spacing-xlarge: ($spacing * 2.5);
$spacing-xxlarge: ($spacing * 3);
$spacing-xxxlarge: ($spacing * 4);
$spacing-gigantic: ($spacing * 6);
$spacing-header-footer: 2.25rem; // Global value to match the existing header padding of 2.25em (the combined left padding of .page-header-content and .column)
$spacing-list: 0.8rem;
$column-spacing: $spacing;
$column-gutter: $column-spacing * 2;
$column-padding-tablet: ($spacing * 1.25);


// Layout specific pacings
$headernav-total-height: $spacing-gigantic;
$hero-total-height: 500px;
$hero-bottom-offset: $spacing-gigantic;
$hero-wrapper-padding: $spacing-xlarge;


// Typography
$base-font-size: 1.4rem; // 14px
$base-line-height: 1.5;
$subtle-font-size: 1.2rem;
$subtle-line-height: 1.5;
$content-font-size: 1.6rem; // 16px
$content-line-height: 2;