.karu-theme {
  .feeds {
    display: block;
  }
  .feed {
    padding: $spacing-xlarge 0;
    border-bottom: 1px solid lightgray;
  }
  .feed__title {
    font-size: 2.8rem;
    margin-top: $spacing-small;
    margin-bottom: $spacing;
  }
  .feed__metas {
    float: right;
  }
  .feed__meta {
    float: left;
    width: auto;
    margin-right: $spacing-xxlarge;
    font-size: 1.2rem;
  }
  .feed__meta--summary {
  }
  .feed__meta__title {
    color: lightgray;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 $spacing-xxsmall;
  }

  /*** 
  Navigation pagination links (universial)
  ***/
  .nav-links {

  }
  .nav-next,
  .nav-previous {
    padding-bottom: $spacing-xxlarge*2;
    display: inline-block;
  }
  .nav-next {
    float: left;
  }
  .nav-previous {
    float: right;
  }
}