.karu-theme {
  .feed {
    margin: 0 0 $spacing;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .feed--featured {
    .feed-item__header {
      margin-left: 65px; /* testing homepage featured feed */
    }
    & > .feed-item {
      counter-increment: ind-counter 1;
      &:before {
        position: absolute;
        top: 25px;
        left: 0;
        content: counter(ind-counter,decimal-leading-zero);
        font-family: NeueHaas,sans-serif;
        font-size: 43px;
        font-weight: 200;
        line-height: 1;
        color: $subtle-text-color;
        text-rendering: optimizeLegibility;
        visibility: visible;
      }
    }
  }
  .feed-item {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    @media (min-width: $desktop-min) {
      width: 50%;
    }
  }
  .feed-item__header {
    padding: $spacing-large 0;
    width: 100%;
    border-bottom: 1px solid $color-dark;
  }
  .feed-item__title {
    margin-top: 0; /* Reset Bootstrap values */
    margin-bottom: $spacing-smaller; /* Reset Bootstrap values */
    & > a {
      font-weight: 900;
      color: $color-darkest;
    }
  }
  .feed-item__excerpt {
    margin-bottom: $spacing;
    font-size: $base-font-size;
    line-height: $base-line-height;
    & > p {
      margin-top: 0; /* Reset Bootstrap values */
      margin-bottom: 0; /* Reset Bootstrap values */
    }
  }
  .feed-item__time {
    font-size: $subtle-font-size;
    line-height: $subtle-line-height;
  }
  .nav-links {

  }
  .nav-next,
  .nav-previous {
    padding-bottom: $spacing-xxlarge*2;
    display: inline-block;
  }
  .nav-next {
    float: left;
  }
  .nav-previous {
    float: right;
  }
}