.header {
  width: 100%;
  margin: $spacing-xxlarge 0;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: $subtle-text-color;
  text-transform: uppercase;
}
.header__ul {
}
.header__item {
  display: inline-block;
}

.header__item__link {
  margin: 0 0 0 $spacing-medium;
  color: $subtle-text-color;
  &:hover {
    color: $brand-primary;
  }
}
