.karu-theme {
  .wrap--header {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $color-mid-gray no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    .wrap {
      z-index: 2;
      position: relative;
    }
  }
  .banner {
    position: relative;
    float: none;
    margin: 0; /* Reset Bootstrap values */
    padding: $spacing-large 0 $spacing-gigantic;
  }
  .karu-logo {
    display: inline-block;
    padding: $spacing-small $spacing-smaller;
    margin: 0 $spacing $spacing 0;
    border: 1px solid $color-dark;
  }
  .karu-global-navi {
    display: inline-block;
    float: none;
  }
  .menu-all-pages-container {

  }
  .menu-item {
    display: inline-block;
    & > a {
      padding: 0; /* Reset Bootstrap values */
      margin-left: $spacing-medium;
      color: $subtle-text-color;
      font-weight: 300;
    }
    &:first-child > a {
      margin-left: 0;
    }
  }
}