.karu-theme {
  .hero {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease;

    @media (min-width: 768px) {
      height: $hero-total-height;
    }
    @media (max-width: 767px) {
      height: 300px;
    }
  }
  .hero__bg {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &:after {
      overflow: hidden;
      text-indent: -9999rem;
      font-size: 0;
      line-height: 0;
      background: linear-gradient(135deg, rgba(255,101,100,0.4) 0%, rgba(255,101,100,0) 50%, rgba(255,101,100,0) 100%),linear-gradient(45deg, rgba(40,0,215,0) 0%, rgba(40,0,215,0) 50%, rgba(40,0,215,0.4) 100%),linear-gradient(transparent 5%, rgba(0,0,0,0.8) 100%);
      content: "gradient mask for image";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .hero__wrapper {
    display: inline-block;
    padding-top: $headernav-total-height;
    align-self: flex-end; /* bottom-align itself in flex parent */
    @media (min-width: 768px) {
      padding-bottom: $hero-bottom-offset;
    }
    @media (max-width: 767px) {
    }
  }
  .hero__content {
    margin-top: 0; /* Reset Bootstrap values */
    margin-bottom: 0; /* Reset Bootstrap values */
    padding-bottom: $hero-wrapper-padding;
    color: $hero-text-color;
  }
  .hero__content__header {
    margin-top: 0; /* Reset Bootstrap values */
    margin-bottom: 0; /* Reset Bootstrap values */
    line-height: 1.25;
  }
  .hero__content__meta {
    margin-top: $spacing-small;
  }
  .hero__content__meta__excerpt {
    margin-top: 0; /* Reset Bootstrap values */
    margin-bottom: 0; /* Reset Bootstrap values */
    font-size: $subtle-font-size;
    line-height: $subtle-line-height;
  }
}