.karu-theme.single {
  .hentry {
    padding: $spacing-xlarge 0;

    & > p {
      max-width: 750px;
      margin: 0 auto $spacing-medium;
      color: $color-darkest;
      font-weight: 400;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 2;
      letter-spacing: normal;    
      word-wrap: break-word;
      word-break: break-word;
      text-align: justify;
    }
  }
  .entry__wrapper {
    margin-top: -($spacing-xlarge * 2);
    background-color: $color-white;
  }
}

.karu-theme {
  .featuredstage {
    width: 99%;
    background-color: $color-light-gray;
    z-index: -1;

    /* Ajax appilcable */
    @include m(active) {
      transform: translateX(0px) !important;
    }

    /* Ajax appilcable */
    @include e(mask) {
      width: 100%;
      background-color: $color-mid-gray;
      z-index: -2;
      @include m(active) {
        transform: translateX(0px) !important;
      }
    }

    /* Single page appilcable (everything below) */
    .single & {
      width: auto;
    }

    @include e(content) {
      margin: $spacing-large;
    }
  }  
}