.karu-theme.single {
  .container {
    width: auto;
  }
  .wrap--header {
    &:after {
      overflow: hidden;
      text-indent: -9999rem;
      font-size: 0;
      line-height: 0;
      background: linear-gradient(135deg, rgba(255,101,100,0.4) 0%, rgba(255,101,100,0) 50%, rgba(255,101,100,0) 100%),linear-gradient(45deg, rgba(40,0,215,0) 0%, rgba(40,0,215,0) 50%, rgba(40,0,215,0.4) 100%),linear-gradient(transparent 5%, rgba(0,0,0,0.8) 100%);
      content: "gradient mask for image";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @media (max-width: 991px) {
    }
    @media (min-width: 992px) {
      width: 30%;
      height: 100%;
      min-height: 100vh;
      display: inline-block;
      opacity: 1;
      position: fixed;
    }
    transition: all 0.2s ease;
  }
  .wrap--content {
    @media (max-width: 991px) {
    }
    @media (min-width: 992px) {
      width: 70%;
      float: right;
    }
    padding: $spacing-large 0 $spacing-gigantic;
    transition: all 0.2s ease;
  }
  .entryintro {
    position: relative;
  }
  .entryintro__wrapper {
  }
  .entryintro__title {
    padding: $spacing-large 0;
  }
  .entry.entry__wrapper {
    max-width: 800px;
    margin-top: $spacing-small;
  }
  .hentry {
    & > p {
      color: $color-darkest;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 1.58;
      letter-spacing: -0.003em;
      margin-bottom: $spacing-medium;
    }
  }
}

.karu-theme {
  .featuredstage {
    width: 99%;
    background-color: $color-light-gray;
    z-index: -1;

    /* Ajax appilcable */
    @include m(active) {
      transform: translateX(0px) !important;
    }

    /* Ajax appilcable */
    @include e(mask) {
      width: 100%;
      background-color: $color-mid-gray;
      z-index: -2;
      @include m(active) {
        transform: translateX(0px) !important;
      }
    }

    /* Single page appilcable (everything below) */
    .single & {
      width: auto;
    }

    @include e(content) {
      margin: $spacing-large;
    }
  }  
}