$single-maxwidth: 750px;

.karu-theme.single {
  .wrap--content__main {
    /*margin-top: 0;  Override global */
  }
  .hero {
    margin-bottom: 8rem;
  }
  .hero__header {
    margin-top: 0;
    margin-bottom: $spacing-large;
    font-size: $singlehero-font-size;
  }
  .hero__meta {
    float: left;
    width: auto;
    margin-right: $spacing-xlarge;
  }
  .hero__meta--first {
    width: 49%;
  }
  .hero__meta__title {
    text-transform: uppercase;
    color: gray;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 0 $spacing-xxsmall;
  }
  .hentry {
  }
  .entry__wrapper {
    background-color: $color-white;
    .hero__content { /* Override the traditional hero__content which is outside of .hentry */
      padding: $headernav-total-height 0 $hero-wrapper-padding;
      color: $color-darkest;      
      @media (max-width: $mobile-max) {
        padding: $spacing 0 0;
      }
    }
    .hero__content__meta__excerpt {
      color: $subtler-text-color;
      @media (max-width: $mobile-max) {
        display: none;
      }
    }
  }
  .entry__content {
    max-width: $single-maxwidth;
    margin: 0 auto $spacing-medium;
    & > p {
      margin-bottom: $spacing-medium;
      color: $color-darkest;
      font-weight: 400;
      font-style: normal;
      font-size: $content-font-size;
      line-height: $content-line-height;
      letter-spacing: normal;    
      word-wrap: break-word;
      word-break: break-word;
      text-align: justify;
    }
  }
  .entry__meta {
    position: relative;
    text-transform: uppercase;
    color: $subtler-text-color;
    font-size: $subtle-font-size;
    line-height: $subtle-line-height;
    @media (min-width: $desktop-min) {
      float: left;
      width: $spacing-gigantic;
      margin-left: $spacing-xxlarge;
      margin-right: $spacing-xxlarge;
      margin-top: 8px; /* Line up with .entry__content baseline */
    }
    @media (max-width: $mobile-max) {
      margin: $hero-wrapper-padding auto;
    }
  }
}