/* Handles both single POST and PAGE */
.karu-theme.single, .karu-theme.page {
  .entry {
    margin: 0 auto $spacing-module-large;
    max-width: $single-maxwidth;
  }
  .hero {
    margin-bottom: $spacing-module-large;
  }
  .hero__meta {
    float: left;
    width: auto;
    margin-right: $spacing-xxlarge;
    color: $subtle-text-color;
  }
  .hero__meta--summary {
    width: 49%;
  }
  .hero__meta__title {
    color: $color-light-gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $tiny-font-size;
    font-weight: $font-weight-bold;
    margin: 0 0 $spacing-xxsmall;
  }
  .entry__content {
    padding-bottom: $spacing-medium;
    border-bottom: $border-line;
    margin-bottom: $spacing-module;
    & > p {
      margin-bottom: $spacing-medium;
      color: $color-dark;
      font-weight: $font-weight-normal;
      font-style: normal;
      font-size: $content-font-size;
      line-height: $content-line-height;
      letter-spacing: normal;    
      word-wrap: break-word;
      word-break: break-word;
      text-align: justify;
    }
  }
}