/* Handles both single POST and PAGE */
.karu-theme.single, .karu-theme.page {
  .entry {
    margin: 0 0 $spacing-gigantic;
  }

  .entry__metas {
    display: flex;
    justify-content: space-between;
    margin: 0 0 $spacing-large;
  }
  .entry__meta {
  }
  .entry__meta--summary {
    width: 65%;
  }
  .entry__meta__title {
    @include subtlefont();
    margin: 0 0 $spacing-xxsmall;
  }

  .entry__content {
    padding: 0 0 $spacing-medium;
    border-bottom: $border-line;
    margin: 0 0 $spacing-gigantic;
    & > p {
      margin: 0 0 $spacing-medium;
      color: $color-dark;
      font-weight: $font-weight-normal;
      font-style: normal;
      font-size: $content-font-size;
      line-height: $content-line-height;
      letter-spacing: normal;
      word-wrap: break-word;
      word-break: break-word;
      text-align: justify;
    }
  }
}
